{% extends 'base.html' %}

{% block title %} Tour Packages : Tourepedia {% endblock %}




{% block body %}
<body>
{% load humanize %}

{% include 'navbar.html' %}

<br>

<div class="container-fluid text-center">
    <hr>
    <br>
    <br>
    <div class="row">
    {% if tourdetails %} 
        {% for tourdetail in tourdetails %}
            <div class="col-sm-4">
            
              <div class="thumbnail card card-1">
              
                  <a href="/tour-packages/{{ tourdetail.slug }}">
                    <img src="{{ MEDIA_URL }}{{ tourdetail.main_img }}" class="person" alt="" width="auto" height="auto">
                  
                  <h4 class="text-center"><strong>{{ tourdetail.tour_name|capfirst }} </strong></h4>
                  </a>
                  <div class="pad">
                    <p> <strong>{{ tourdetail.tour_tagline }}</strong></p>
                    <hr>
                    <p> {{ tourdetail.tour_detail|truncatechars:200 }}</p>

                    
                    <p><hr>
                    <div class="col-sm-6 text-left"> <h4> Number of days: {{ tourdetail.number_days }} </h4> </div>
                     
                    <div class="col-sm-6 text-right"> <h4>Price: ₹ {{ tourdetail.tour_price|intcomma }} </h4></div>
                  </div>
              </div>
            
            </div>
            
    
        {% endfor %}
    {% else %} 
    <strong> kuch bhi nhi hai </strong>
    {% endif %}
<br>

			
</div>
</div>


{% include 'footer.html' %}

{% endblock %}









{% block script %}

{% endblock %}