{% extends 'base.html' %}

{% block title %} Upcoming Tours : Thrilloax {% endblock %}

{% block static %}

<style type="text/css">

.demo {
  padding-top: 60px;
  padding-bottom: 110px;
}


</style>

{% endblock %}


{% block body %}

<body>

{% include 'admin_nav.html' %}
<br>
<br>
<br>
<br>

<div class="container-fluid">
  <div class="row bg">
    <div class="col-lg-4"><h3>Total Quote Given:{{ total }}</h3></div>
    <div class="col-lg-4"><h3>Total Converted: {{  }}</h3></div>
    <div class="col-lg-4"><h3>Estimated Revenue/Profit:</h3></div>
  </div>
  <br>
  <div class="row">
    <div class="col-lg-12">
      <h4>Team Sharma Performances</h4><hr>
    </div>
    
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>Team Mama Performances</h4><hr>
    </div>
    
  </div>

  <div class="row">
    <div class="col-lg-12">
      <h4>Team Maurya Performances</h4><hr>
    </div>
    
  </div>

</div>

   


{% endblock %}

{% block script %}

{% endblock %}











	


