<!DOCTYPE html>
<html lang="en">
<head>
	<title> {% block title %}{% endblock %}</title>
	<meta charset="utf-8">
    <meta name="auther" content="Tourepedia Team">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="MobileOptimized" content="320">
    {% block meta_tag %}
    {% endblock %}
    <link rel="icon" type="image/png" href="/static/img/favicon.png">

    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/custom.css' %}">
    {% block static %}{% endblock %}
</head>

{% block body %} {% endblock %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

{% block script %}{% endblock %}


</body>
</html>