<br><br>

<footer>

<div class="container-fluid">
	<div class="row">
		<div class="col-sm-3"></div>
		<div class="col-sm-6 text-center footer-foot">
		<br>
			<p>Stalk us on social media</p>
		</div>
		<div class="col-sm-3"></div>
	</div>

	<div class="footer-social-icons text-center">
    <ul class="social-icons">
        <li><a href="" class="social-icon"> <i class="fa fa-facebook"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-twitter"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-youtube"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-linkedin"></i></a></li>
        <li><a href="" class="social-icon"> <i class="fa fa-google-plus"></i></a></li>
    </ul>
	</div>




	<div class="text-center footer-foot"> <p> @ 2016 TOUREPEDIA.COM </p></div>

</div>
</footer>